<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>artifactory-release</id>
      <username>${env.ARTIFACTORY_API_USERNAME}</username>
      <password>${env.ARTIFACTORY_API_KEY}</password>
    </server>
    <server>
      <id>artifactory-snapshot</id>
      <username>${env.ARTIFACTORY_API_USERNAME}</username>
      <password>${env.ARTIFACTORY_API_KEY}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>artifactory</id>
      <properties>
        <altSnapshotDeploymentRepository>
          artifactory-snapshot::default::${env.ARTIFACTORY_SNAPSHOT_URL}
        </altSnapshotDeploymentRepository>
        <altReleaseDeploymentRepository>
          artifactory-release::default::${env.ARTIFACTORY_RELEASE_URL}
        </altReleaseDeploymentRepository>
      </properties>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>artifactory-release</id>
          <url>${env.ARTIFACTORY_RELEASE_URL}</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>artifactory-snapshot</id>
          <url>${env.ARTIFACTORY_SNAPSHOT_URL}</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>